* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


main {
    background-image: url(../images/texture.png);
}

nav,
#menu-checkbox{
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    
}

nav {
    position: absolute;
    top: 50px;
    left: 0px;
}

nav a {
    display: block;
    color: #031D40;
    background-color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 20px;
}

.logo {
    width: 88px;
    height: 33px;
    margin-left: 58px;
}

.like {
    display: none;
}

.icons {
    margin-left: 30px
}

.hamburger-icon {
        margin: 36px;
    }

header section {
    display: inline;
}


.welcome {
    background-image: url(../images/main-photo.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 100vh;
}

.cta {
    background-color: #D93D04;
    color: #FFFEF7;
    text-decoration: none;
    font-size: 1,3em;
    padding: 15px 70px;
    border-radius: 8px;
}

.cta_small {
    padding: 10px 20px;
}

.gender {
    position: relative;
    top: 50px;   
    text-align: center;
}

.gender_cta {
    background-color: #031D40;
    color: #FFFEF7;
    text-decoration: none;
    font-size: 1.9em;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 2px;
    margin: 0 40px;
}

.gender_cta:hover {
    background: #fff;
    border: 2px solid #031D40;
    border-radius: 2px;
    color: #031D40;

}



@media (min-width: 600px){
    .item {
        padding: 10px;
        margin: 10px;
    }
    .container {
        display: flex;
    }
    .logo{
        padding: 10px;
        margin: 5px;
    }
    nav {
        display: inline-block;
    }
    .hamburger-icon {
        display: none;
    }
    nav a {
        display: inline-block;
    }
    .icons {
        display: inline-block;
    }
    .like {
      display: inline;
    }
}
